<div class="container mx-4 my-5 d-flex ">
    <div class="card mx-4 px-4 py-3">
<p class="card-title"><strong>Name:- {{teacherInt.name}}</strong></p>
<p class="card-text">Subject:- {{teacherInt.subject}}</p>
<p class="card-text">Branch:- {{teacherInt.branch}}</p>
<p class="card-text">Email:- {{teacherInt.email}}</p>
<p class="card-text">Phone:- {{teacherInt.phone}}</p>
<p class="card-text">Address:- {{teacherInt.address}}</p>
</div>
</div> 